In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("student_info.csv")
df.head(5)

   study_hours  student_marks
0         6.83          78.50
1         6.56          76.74
2          NaN          78.68
3         5.67          71.82
4         8.67          84.19

In [ ]:
df=df.fillna(df.mean())
df.isnull().sum()

study_hours      0
student_marks    0
dtype: int64

In [ ]:
x=df.drop("student_marks",axis=1)
y=df.drop("study_hours",axis=1)

In [ ]:
x.head()

   study_hours
0     6.830000
1     6.560000
2     6.995949
3     5.670000
4     8.670000

In [ ]:
y.head()

   student_marks
0          78.50
1          76.74
2          78.68
3          71.82
4          84.19

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
res=lr.predict([[.0]])[0][0]
print(res)

50.450636324423726

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
import pickle
pickle.dump(lr, open("smp.pkl", "wb"))
print("model is saved")

model is saved